table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    border: 5px;
    color: white;
    padding: 8px;
}

tr:nth-child(even) {
    color: white;
    background-color: indianred;
}

body {
    background-color: black;
}

h1 {
    color: indianred;
    text-align: center;
}


h2 {
    color: white;
    text-align: center;
}

p, a {
    color: white;
    text-align: center;
}
